#bioPage {
  #main {
    padding-bottom: 0px;
  }

  a,
  abbr,
  acronym,
  address,
  applet,
  article,
  aside,
  audio,
  b,
  big,
  blockquote,
  body,
  canvas,
  caption,
  center,
  cite,
  code,
  dd,
  del,
  details,
  dfn,
  div,
  dl,
  dt,
  em,
  embed,
  fieldset,
  figcaption,
  figure,
  footer,
  form,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  header,
  hgroup,
  html,
  i,
  iframe,
  img,
  ins,
  kbd,
  label,
  legend,
  li,
  mark,
  menu,
  nav,
  object,
  ol,
  output,
  p,
  pre,
  q,
  ruby,
  s,
  samp,
  section,
  small,
  span,
  strike,
  strong,
  sub,
  summary,
  sup,
  table,
  tbody,
  td,
  tfoot,
  th,
  thead,
  time,
  tr,
  tt,
  u,
  ul,
  var,
  video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }

  article,
  aside,
  details,
  figcaption,
  figure,
  footer,
  header,
  hgroup,
  menu,
  nav,
  section {
    display: block;
  }

  body {
    line-height: 1;
  }

  ol,
  ul {
    list-style: none;
  }

  background: linear-gradient(45deg, #000, #2b3640);
  transition: all 1s ease-in-out;
  .container-fluid {
    height: auto;
  }
  .back-arrow {
    position: fixed;
    top: 80px;
    left: 40px;
    display: block;
    font-size: 5rem;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    overflow: hidden;
    color: white;
    max-width: 50px;
    z-index: 300;
    transition: all 0.5s ease-in-out;
    &:hover {
      transform: translateX(-10px);
    }
  }

  #scroll {
    span {
      position: absolute;
      top: 85%;
      left: 5%;
      width: 24px;
      height: 24px;
      margin-left: -12px;
      border-left: 1px solid #fff;
      border-bottom: 1px solid #fff;
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
      -webkit-animation: sdb07 2s infinite;
      animation: sdb07 2s infinite;
      opacity: 0;
      box-sizing: border-box;

      &:nth-of-type(1) {
        -webkit-animation-delay: 0s;
        animation-delay: 0s;
      }
      &:nth-of-type(2) {
        top: 86%;
        -webkit-animation-delay: 0.15s;
        animation-delay: 0.15s;
      }
      &:nth-of-type(3) {
        top: 87%;
        -webkit-animation-delay: 0.3s;
        animation-delay: 0.3s;
      }
    }
  }

  @-webkit-keyframes sdb07 {
    0% {
      opacity: 0;
    }

    50% {
      opacity: 1;
    }

    100% {
      opacity: 0;
    }
  }

  @keyframes sdb07 {
    0% {
      opacity: 0;
    }

    50% {
      opacity: 1;
    }

    100% {
      opacity: 0;
    }
  }
  .scrolling-bio {
    position: relative;
    z-index: 200;
    background: white;
    .container-fluid {
      padding-top: 12rem;
      .heading {
        font-size: 4rem;
        color: #072142;
        letter-spacing: 0.1em;
        font-family: 'Merriweather', serif;
        margin-right: 3.2rem;
        padding-top: 1.2rem;
      }

      .heading--top {
        padding-top: 0;
      }

      .sub-title {
        font-size: 2rem;
        margin-bottom: 1.6rem;
        color: #072142;
        text-align: center;
        letter-spacing: 0.2em;
        line-height: 1.2;
        font-family: 'futura_de';
        word-break: break-all;
      }
      .passion__text {
        line-height: 2;
        word-wrap: break-word;
        white-space: normal;
        font-size: 20px;
      }

      .item-left {
        opacity: 0;

        transform: translateX(-500px);
      }
      .item-down {
        letter-spacing: 2em;
      }
      .item-up {
        opacity: 0;
        transform: translateY(-100px);
      }
      .item-right {
        opacity: 0;
        transform: translateX(500px);
      }
      .scroll-appear {
        letter-spacing: 0em !important;
      }
      .items-appear {
        opacity: 1;
        transform: translateX(0px);
        transform: translateY(0px);
      }

      @media screen and (max-width: 500px) {
        .sub-title {
          font-size: 1.5rem !important;
          margin-bottom: 0.8rem;
        }
      }
      @media screen and (max-width: 500px) {
        .heading--left {
          margin-left: auto;
        }
        padding-top: 2rem;
      }

      @media screen and (max-width: 800px) {
        .heading {
          padding-top: 0;
          margin-right: 0;
        }
        .sub-title {
          font-size: 2rem;
          margin-bottom: 0.8rem;
        }
      }

      @media screen and (max-width: 500px) {
        .heading {
          font-size: 27px;
          padding-left: 25px;
        }
      }

      .heading-num {
        font-size: 4rem;
        color: #ff3300;
        position: relative;
        padding-left: 6.2rem;
        padding-right: 3.2rem;
        font-family: 'Merriweather', serif;
        line-height: 1.1;
        &:after {
          content: '';
          width: 4.8rem;
          height: 2px;
          background: #020b16;
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          margin: auto;
        }
      }

      @media screen and (max-width: 500px) {
        .heading-num:after {
          width: 2rem;
        }
      }

      @media screen and (max-width: 500px) {
        .heading-num {
          padding-left: 3.2rem;
          font-size: 27px;
        }
      }
      .text {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding-left: 138px;
        margin-top: 14.4rem;
      }

      @media screen and (max-width: 800px) {
        .text {
          -webkit-box-align: start;
          -ms-flex-align: start;
          align-items: flex-start;
          padding-left: 0;
        }
      }

      @media screen and (max-width: 500px) {
        .text {
          margin-top: 7.2rem;
        }
      }

      .text--top {
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
      }

      .text .heading-num {
        position: absolute;
        left: 0;
      }

      .text__wrap {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding-right: 10%;
        -webkit-box-sizing: content-box;
        box-sizing: content-box;
        max-width: 1200px;
        width: 100%;
        margin: auto;
      }
      .content {
        max-width: 1200px;
        width: 100%;
        margin: auto;
      }

      .content--mlarge {
        margin-top: 14.4rem;
      }

      @media screen and (max-width: 800px) {
        .content--mlarge {
          margin-top: 7.2rem;
        }
      }

      @media screen and (max-width: 500px) {
        .content--mlarge {
          margin-top: 4rem;
        }
      }

      @media screen and (max-width: 1250px) {
        .content {
          padding: 0 10%;
        }
      }
      .text__wrap--top {
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
      }

      @media screen and (max-width: 800px) {
        .text__wrap--top {
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
        }
      }

      @media screen and (max-width: 800px) {
        .text__wrap {
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
          padding-left: 10%;
        }
      }

      .text__works {
        width: 65.5%;
      }

      @media screen and (max-width: 800px) {
        .text__works {
          width: 100%;
          margin-top: 7.2rem;
        }
      }

      @media screen and (max-width: 500px) {
        .text__works {
          margin-top: 4rem;
        }
      }

      .who__wrap {
        width: 48.333%;
      }

      @media screen and (max-width: 800px) {
        .who__wrap {
          width: 100%;
          margin-top: 7.2rem;
        }
      }

      @media screen and (max-width: 500px) {
        .who__wrap {
          margin-top: 4rem;
        }
      }

      .who__name {
        color: #072142;
        margin-bottom: 2.4rem;
      }

      @media screen and (max-width: 500px) {
        .who__name {
          margin-bottom: 1.6rem;
        }
      }

      .who__jp {
        font-size: 2.4rem;
        letter-spacing: 0.3em;
        font-weight: bold;
        margin-bottom: 0.4rem;
      }

      @media screen and (max-width: 500px) {
        .who__jp {
          font-size: 1.3rem;
        }
      }

      .who__en {
        font-size: 1.8rem;
        letter-spacing: 0.2em;
        font-family: 'Roboto', sans-serif;
        line-height: 1.3;
      }

      @media screen and (max-width: 500px) {
        .who__en {
          font-size: 1rem;
        }
      }

      .who__text {
        margin-bottom: 6.4rem;
        font-family: 'Lato', sans-serif;
      }

      @media screen and (max-width: 500px) {
        .who__text {
          margin-bottom: 3.2rem;
        }
      }

      .who__image {
        -webkit-box-shadow: 0px 63px 154px -20px rgba(7, 33, 66, 0.5);
        box-shadow: 0px 63px 154px -20px rgba(7, 33, 66, 0.5);
        width: 100%;
      }

      @media screen and (max-width: 500px) {
        .who__image {
          -webkit-box-shadow: 0px 33px 84px -20px rgba(7, 33, 66, 0.5);
          box-shadow: 0px 33px 84px -20px rgba(7, 33, 66, 0.5);
        }
      }
      .passion__list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
      }

      @media screen and (max-width: 800px) {
        .passion__list {
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
          -webkit-box-pack: start;
          -ms-flex-pack: start;
          justify-content: flex-start;
        }
      }

      .passion__item {
        width: 29.75%;
        list-style: none;
        transition: all 1s ease-in-out;
      }

      @media screen and (max-width: 800px) {
        .passion__item {
          width: 100%;
          margin-top: 6.4rem;
          &:first-child {
            margin-top: 0;
          }
        }
      }

      @media screen and (max-width: 500px) {
        .passion__item {
          margin-top: 3.2rem;
          transition: all 1s ease-in-out;
          &:first-child {
            transition: all 1s ease-in-out;
          }
          &:last-child {
            transition: all 1s ease-in-out;
          }
        }
      }

      .passion__image {
        width: 42.016%;
        margin: 0 auto 2.4rem;

        svg {
          fill: #ff3300;
        }
      }

      @media screen and (max-width: 800px) {
        .passion__image {
          width: 60%;
        }
      }

      @media screen and (max-width: 500px) {
        .passion__image {
          margin-bottom: 1.6rem;
        }
      }

      // skill stuff

      .small-title {
        font-size: 1.5rem;
        color: #072142;
        letter-spacing: 0.2em;
        line-height: 1.2;
        font-family: 'Roboto', sans-serif;
      }

      @media screen and (max-width: 500px) {
        .small-title {
          font-size: 1.2rem;
        }
      }

      @media screen and (max-width: 500px) {
        .small-title--skill {
          font-size: 1rem;
        }
      }

      .skill-set__flex {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding-bottom: 200px;
      }

      @media screen and (max-width: 800px) {
        .skill-set__flex {
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
          -webkit-box-pack: start;
          -ms-flex-pack: start;
          justify-content: flex-start;
          padding-bottom: 100px;
        }
      }

      .skill-set__list {
        width: 47%;
        padding-left: 0px;
      }

      @media screen and (max-width: 800px) {
        .skill-set__list {
          width: 100%;
          &:last-child {
            margin-top: 7.2rem;
          }
        }
      }

      .skill-set__item {
        margin-top: 6.4rem;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        &:first-child {
          margin-top: 0;
        }
      }

      @media screen and (max-width: 500px) {
        .skill-set__item {
          margin-top: 3.2rem;
        }
      }

      .skill-set__icon {
        width: 10.6382%;
        -ms-flex-item-align: center;
        align-self: center;
        img {
          max-width: 100%;
          height: auto;
          vertical-align: middle;
          width: 100%;
        }
      }

      .skill-set__detail {
        width: 85.1063%;
      }

      .skill-set__meta {
        margin-bottom: 0.8rem;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
      }

      .skill-set__name {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end;
      }

      .skill-set__year {
        font-size: 1rem;
        line-height: 1.2;
        color: #c0c5ca;
        margin-left: 0.8rem;
        letter-spacing: 0.2em;
      }

      @media screen and (max-width: 500px) {
        .skill-set__year {
          font-size: 0.8rem;
        }
      }

      .skill-set__ratio {
        font-size: 1.6rem;
        line-height: 1.2;
        color: #072142;
      }

      @media screen and (max-width: 500px) {
        .skill-set__ratio {
          font-size: 1rem;
        }
      }

      .skill-set__high {
        color: #ff3300;
      }
      .js-scroll {
        transition: 1s all ease-in-out;
      }
      .skill-set__bar {
        width: 100%;
        height: 1.4rem;
        background: #fff;
        position: relative;
        border-radius: 10px;
        -webkit-box-shadow: 0 5px 15px 0 rgba(7, 33, 66, 0.15);
        box-shadow: 0 5px 15px 0 rgba(7, 33, 66, 0.15);
        transition: all 1s ease-in-out;
        &:after {
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          height: 100%;
          border-radius: 10px;
          width: 10%;
        }
        &.p90 {
          &:after {
            background-image: -webkit-gradient(
              linear,
              left top,
              right top,
              from(#2b3640),
              color-stop(42%, #072142),
              to(#ff3300)
            );
            background-image: -webkit-linear-gradient(
              left,
              #2b3640,
              #072142 42%,
              #ff3300
            );
            background-image: -o-linear-gradient(
              left,
              #2b3640,
              #072142 42%,
              #ff3300
            );
            background-image: linear-gradient(
              to right,
              #2b3640,
              #072142 42%,
              #ff3300
            );
          }
          &.in:after {
            -webkit-animation: ratio90 1.5s forwards;
            animation: ratio90 1.5s forwards;
          }
        }
        &.p80 {
          &:after {
            background-image: -webkit-gradient(
              linear,
              left top,
              right top,
              from(#2b3640),
              color-stop(50%, #072142),
              to(#ff3300)
            );
            background-image: -webkit-linear-gradient(
              left,
              #2b3640,
              #072142 50%,
              #ff3300
            );
            background-image: -o-linear-gradient(
              left,
              #2b3640,
              #072142 50%,
              #ff3300
            );
            background-image: linear-gradient(
              to right,
              #2b3640,
              #072142 50%,
              #ff3300
            );
          }
          &.in:after {
            -webkit-animation: ratio80 1.5s forwards;
            animation: ratio80 1.5s forwards;
          }
        }
        &.p70 {
          &:after {
            background-image: -webkit-gradient(
              linear,
              left top,
              right top,
              from(#2b3640),
              color-stop(65%, #072142),
              to(#ff3300)
            );
            background-image: -webkit-linear-gradient(
              left,
              #2b3640,
              #072142 65%,
              #ff3300
            );
            background-image: -o-linear-gradient(
              left,
              #2b3640,
              #072142 65%,
              #ff3300
            );
            background-image: linear-gradient(
              to right,
              #2b3640,
              #072142 65%,
              #ff3300
            );
          }
          &.in:after {
            -webkit-animation: ratio70 1.5s forwards;
            animation: ratio70 1.5s forwards;
          }
        }
        &.p60 {
          &:after {
            background-image: -webkit-gradient(
              linear,
              left top,
              right top,
              from(#2b3640),
              color-stop(75%, #072142),
              to(#ff3300)
            );
            background-image: -webkit-linear-gradient(
              left,
              #2b3640,
              #072142 75%,
              #ff3300
            );
            background-image: -o-linear-gradient(
              left,
              #2b3640,
              #072142 75%,
              #ff3300
            );
            background-image: linear-gradient(
              to right,
              #2b3640,
              #072142 75%,
              #ff3300
            );
          }
          &.in:after {
            -webkit-animation: ratio60 1.5s forwards;
            animation: ratio60 1.5s forwards;
          }
        }
        &.p50 {
          &:after {
            background-image: -webkit-gradient(
              linear,
              left top,
              right top,
              from(#2b3640),
              color-stop(65%, #072142)
            );
            background-image: -webkit-linear-gradient(
              left,
              #2b3640,
              #072142 65%
            );
            background-image: -o-linear-gradient(left, #2b3640, #072142 65%);
            background-image: linear-gradient(to right, #2b3640, #072142 65%);
          }
          &.in:after {
            -webkit-animation: ratio50 1.5s forwards;
            animation: ratio50 1.5s forwards;
          }
        }
        &.p40 {
          &:after {
            background-image: -webkit-gradient(
              linear,
              left top,
              right top,
              from(#072142),
              color-stop(65%, #2b3640)
            );
            background-image: -webkit-linear-gradient(
              left,
              #072142,
              #2b3640 65%
            );
            background-image: -o-linear-gradient(left, #072142, #2b3640 65%);
            background-image: linear-gradient(to right, #072142, #2b3640 65%);
          }
          &.in:after {
            -webkit-animation: ratio40 1.5s forwards;
            animation: ratio40 1.5s forwards;
          }
        }

        @-webkit-keyframes ratio90 {
          0% {
            width: 10%;
          }

          to {
            width: 90%;
          }
        }

        @keyframes ratio90 {
          0% {
            width: 10%;
          }

          to {
            width: 90%;
          }
        }

        @-webkit-keyframes ratio80 {
          0% {
            width: 10%;
          }

          to {
            width: 80%;
          }
        }

        @keyframes ratio80 {
          0% {
            width: 10%;
          }

          to {
            width: 80%;
          }
        }

        @-webkit-keyframes ratio70 {
          0% {
            width: 10%;
          }

          to {
            width: 70%;
          }
        }

        @keyframes ratio70 {
          0% {
            width: 10%;
          }

          to {
            width: 70%;
          }
        }

        @-webkit-keyframes ratio60 {
          0% {
            width: 10%;
          }

          to {
            width: 60%;
          }
        }

        @keyframes ratio60 {
          0% {
            width: 10%;
          }

          to {
            width: 60%;
          }
        }

        @-webkit-keyframes ratio50 {
          0% {
            width: 10%;
          }

          to {
            width: 50%;
          }
        }

        @keyframes ratio50 {
          0% {
            width: 10%;
          }

          to {
            width: 50%;
          }
        }

        @-webkit-keyframes ratio40 {
          0% {
            width: 10%;
          }

          to {
            width: 40%;
          }
        }

        @keyframes ratio40 {
          0% {
            width: 10%;
          }

          to {
            width: 40%;
          }
        }
      }

      @media screen and (max-width: 500px) {
        .skill-set__bar {
          height: 0.7rem;
        }
      }
    }
  }
}

#name {
  color: white;
  padding: 0px;
  position: fixed;
  text-decoration: none;
  top: 10px;
  left: 10px;
  &:hover {
    opacity: 0.75;
  }
  h1 {
    font-family: 'Merriweather', serif;
    font-size: 2rem;
  }
}

@include mediaMd {
  #bioPage {
    .image-bio {
      width: 100%;
      height: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
    }
  }
}

@include mediaSm {
  #bioPage {
    .back-arrow {
      position: fixed;
      top: 40px;
      left: 20px;
      display: block;
      font-size: 3rem;
      -webkit-transition: 0.5s;
      -o-transition: 0.5s;
      transition: 0.5s;
      overflow: hidden;
      color: #fff;
      opacity: 0.6;
      z-index: 300;
      transition: all 0.5s ease-in-out;
      &:hover {
        transform: translateX(-10px);
      }
    }
    #scroll {
      span {
        left: 80%;
      }
    }
    #bio {
      height: 100vh !important;
      .container-fluid {
        padding: 1px;

        .title {
          width: 87.5%;
          margin: 0 6.25%;
          top: auto;
          -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
          bottom: 5rem;
          h1 {
            font-size: 3rem !important;
          }
        }
        p {
          font-size: 1.5rem !important;
        }
        .img-bio-about {
          display: block !important;
          position: relative !important;
          width: 100% !important;
          height: 60% !important;

          margin: 0 !important;
          top: 0% !important;
          -webkit-box-shadow: none;
          box-shadow: none;
          .image-over {
            h1 {
              left: 10% !important;
            }
          }
        }
        .scrolling-bio {
          position: relative;
          margin-top: 12rem;
          padding-bottom: 50px;
        }
      }
    }
  }
}
footer {
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#2b3640),
    color-stop(42%, #072142),
    to(#ff3300)
  );
  background: -webkit-linear-gradient(left, #2b3640, #072142 42%, #ff3300);
  background: -o-linear-gradient(left, #2b3640, #072142 42%, #ff3300);
  background: linear-gradient(to right, #2b3640, #072142 42%, #ff3300);
  height: 300px;
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  h1 {
    color: white;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-size: 2rem !important;
    a {
      text-decoration: none !important;
      color: white;
      text-transform: lowercase;
      &:hover {
        color: white;
        opacity: 0.5;
      }
    }
  }
  @media screen and (max-width: 500px) {
    h1 a {
      font-size: 1.2rem !important;
    }
  }
}
